<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Document</title>
</head>
<body>
<form action="/do_add">
    书籍ISBN号: <input type="text" name="isbn">
    <button type="submit">添加</button>
</form>
</body>
</html>
