* { margin: 0; padding: 0;}
html,body { font-size: 16px;}
a {text-decoration: none; }
ul {list-style: none;}

.bg-white {background-color: #fff}
.bg-default {background-color: #F0F0F0}
.bg-FF9E77{ background-color: #FF9E77;}
.bg-C8C8C8{ background-color: #C8C8C8;}
.bg-58BD91{ background-color: #58BD91;}
.bg-9FD8DF{ background-color: #9FD8DF;}

/*common*/
.nosee { display: none;}

/**not common **/

.reg {background-color: #fff; padding-top:20px;}
.reg ul { list-style: none;}
.reg ul li {height: 60px;padding-top: 30px; display: block;}
.reg ul li .content .reg-icon-type {float: left; width: 70px; text-align: center;}
.reg ul li .content .reg-icon-type img {height: 18px;}
.reg ul li .content .reg-icon-split {float: left; width: 20px;  height: 22px;}
.reg ul li .content .reg-icon-split img { height: 22px;}
.reg ul li .content .reg-input {float: left; width: 74%;font-size: 14px;}
.reg ul li .content .reg-input a {display: block;float: right; margin-right: 0px; color: #58BD91; border: 1px solid #58BD91; border-radius: 4px; height: 28px; line-height: 28px; padding-left: 8px; padding-right: 8px;}
.reg ul li .content input {float: left; height: 30px;width: 60%;margin-left: 20px; border: none; }
.reg ul li .one-line {  clear:both; height: 1px;width: 95%; background-color: #EFEFEF; margin-left: 5%;}
.reg .icode-tip{height:20px; padding-right: 15px;text-align: right;}
.reg .icode-tip a{ display:inline-block; color: #307268; font-size: 14px;}
.reg .reg-finish{ margin-top: 60px; text-align: center}
.reg .reg-finish a{ display: block; width: 320px; height: 50px; margin-left: auto; margin-right: auto; border-radius:4px; background-color: #58BD91;line-height: 50px; font-size: 17px; text-decoration: none; color: #fff;}
.reg .reg-finish a:active { background-color: #307268; }

.book-item {width: 100%;height: 160px;background-color: #ffffff; margin-bottom: 8px;position: relative;}
.book-item .book-status {width: 70px;height: 32px;position: absolute;top: 0;left: 0;}
.book-item .book-status span {line-height: 32px; display: block; text-align: center; color:#fff }
.book-item .book-status-in { background-color: #58BD91;}
.book-item .book-status-out { background-color: #FF9E77;}
.book-item .tag { background-color:#9FD8DF;margin-right: 4px; height: 16px; border: 1px; border-radius: 23px;padding-left: 8px; padding-right: 8px; line-height: 16px; color: #fff}

.item-left { float: left; margin-left: 18px;}
.item-left img { height: 130px;margin-left: 4px;margin-right: 20px;margin-top: 5px;}
.item-right {float: left;padding-top: 10px;}
.item-right dt { font-size: 16px; color: #3C3C3C;}
.item-right dd { font-size: 14px;color: #9B9B9B }
.item-right .position { height: 24px; margin-top: 8px;}
.item-right .position img { margin-left: 5px; width: 9px; height: 12px;}
.item-right .position span { margin-left: 5px;line-height: 24px;font-size: 12px;color: #3C3C3C;}
.item-right .loaninfo {font-size: 14px;}
.item-right .loaninfo a {height: 20px; line-height: 20px;}
.item-right .loaninfo img { height:14px; }
.item-right .loaninfo span {margin-left: 5px; color: #307268;}
.item-last { float: left; margin-left: 30px; display: none;}
.mark { color: red; font-size: 16px;}
.book-list {position: relative;}
.book-list .fixed-footer {position: fixed; bottom: 0;width: 100%;}
.book-list .fixed-header {position: fixed; top: 0; width: 100%; z-index: 1000;}
.book-list .list {margin-top: 110px; margin-bottom: 65px;}
.book-list .list a:hover{background-color: red;}
/*bookdetail*/
.book-detail { margin-top: 10px;}
.book-detail .saying { height: 118px; padding-top: 16px; padding-left: 18px; padding-right: 16px; margin-top: -8px; background-color:#E5F3ED;}
.book-detail .saying img {width:19px; vertical-align: inherit}
.book-detail .saying .saying-title {font-size: 16px; margin-left: 5px;}
.book-detail .saying .saying-content {font-size: 14px; margin-top: 6px;}
.book-detail .drift , .book-detail .content, .book-detail .comment {padding-top: 20px;padding-bottom: 8px;background-color: #fff;}
.book-detail .drift .drift-item {margin-top: 6px;padding-left: 30px;}
.book-detail .drift .drift-item span{margin-left: 5px;font-size: 14px;}
.book-detail .content .content-padding{ margin-top: 6px; padding-left: 20px;padding-right: 15px}
.book-detail .content .content-padding span {margin-left: 5px;font-size: 14px;}
.book-detail .comment .comment-item {margin-top: 3px;}
.book-detail .comment .comment-item .comment-content{font-size: 14px; margin-top: 6px; padding-left: 20px;}
.book-detail .comment .comment-item .comment-user{font-size: 14px; color: #9B9B9B; }
.book-detail .other-books { padding-top: 20px; margin-bottom: 60px;height: 250px;}
.book-detail .other-books1 { padding-top: 20px; margin-bottom: 60px;}
.book-detail .other-books .other-books-title{font-size: 16px;text-align: center;margin-bottom: 20px;}
.book-detail .other-books .other-books-align {padding-left: 6px;}
.book-detail .cando { position: fixed; bottom: 0;width: 100%;height: 56px; line-height: 56px; text-align: center;font-size: 16px;}
.book-detail .cando .left {float: left; width: 33%; color:#58BD91; background-color: #fff;}
.book-detail .cando .right {float: left; width: 67%; background-color: #58BD91; color: #fff;}

.donate {background-color: #fff; padding-top: 16px;padding-left: 15px;padding-right: 15px;font-size: 14px;}
.donate .donate-book {margin:20px 0px 10px 0px; padding-top: 16px;border: 1px solid #58BD91;box-shadow: 4px 4px 4px #F0F0F0; height: 190px;}
.donate .donate-book .face { width: 40%; padding: 5px; float:left;}
.donate .donate-book .detail{ width: 60%; padding-right: 5px; padding-top: 18px;float:left;}
.donate .donate-book .detail ul{ margin-top: 10px;}
.donate .donate-book .detail ul li {height: 36px;}
.donate .donate-book .detail ul li .name{color:#9b9b9b;}
.donate .donate-ok{margin-top: 50px;text-align: center;}
.donate .donate-ok button {height: 50px; width: 90%; border:none;background-color: #58BD91;border-radius: 4px;font-size: 18px; color: #fff;}
.donate .catogary {height: 40px;  margin-top: 40px; font-size: 14px;}
.donate .catogary .cont { height: 39px;line-height: 39px;}
.donate .catogary .cont span { margin-right: 30px; float: left;}
.donate .catogary .cont select {width: 200px; border:1px solid #efefef; background-color: #fff; -webkit-appearance: none;height: 32px;}
.donate .catogary .line {height: 1px;background-color: #DDDDDD;width: 100%;}
.donate .book-posi {height: 40px;  margin-top: 10px; font-size: 14px;}
.donate .book-posi .cont { height: 39px;line-height: 39px;}
.donate .book-posi .cont .posi-title { margin-right: 30px; }
.donate .book-posi .cont img { display: block; height:24px; width: 18px; float: right; margin-top: 8px; margin-right: 5px;}
.donate .book-posi .line {height: 1px;background-color: #DDDDDD;width: 100%;}
.donate .saying {width: 100%; height: 120px;padding:12px 0px 12px 0px;font-size: 14px;}
.donate .saying textarea{width: 100%; border: 1px solid #BFBFBF; border-radius: 4px; height: 75px;resize: none;margin-top: 10px;font-size: 14px;}

/*独立组件样式*/
.component-title{font-size: 16px; margin-left: 16px;}
.component-title .decorate{display: inline-block;;width: 4px; height: 14px;background-color:#58BD91;}
.component-title .title {margin-left: 5px;}

.component-bookitem-sim {position: relative; float:left;margin-right: 7px;width: 116px; height: 180px; background-color: #fff; text-align: center;padding-top:8px;}
.component-bookitem-sim .book-status {width: 50px;height: 28px;position: absolute;left:10px; top: 0; }
.component-bookitem-sim .book-status span {line-height: 32px; display: block; text-align: center; color:#fff }
.component-bookitem-sim .book-status-in { background-color: #58BD91;}
.component-bookitem-sim .book-status-out { background-color: #FF9E77;}
.component-bookitem-sim .title{text-align: center}

.component-nav { width: 100%; height: 56px;line-height: 56px;background-color: #fff;font-size: 16px; text-align: center;position: fixed;bottom: 0;border-top: 1px solid #ddd;}
.component-nav a {color:#9B9B9B}
.component-nav .left{float: left; width: 33%}
.component-nav .middle{float: left; width: 33%}
.component-nav .right{float: left; width: 34%}
.component-nav .active{color: #58BD91;}

.address-item { display: block; background-color: #fff;height: 70px;font-size: 14px; border-bottom: 1px solid #DDDDDD; padding:10px 20px 5px 20px;}
.address-item .item-title{background-color: #fff; }
.address-item .item-where{background-color: #fff; color: #9B9B9B;margin-top: 10px;}

.component-btn {background-color: #fff; text-align: center}
.component-btn .btn{ text-align: center}
.component-btn .btn a{ display: block; width: 320px; height: 50px; margin-left: auto; margin-right: auto; border-radius:4px; background-color: #58BD91;line-height: 50px; font-size: 17px; text-decoration: none; color: #fff;}
.component-btn .btn a:active { background-color: #307268; }

.tmodal {width: 100%; height: 1000px; position: fixed; z-index: 999;top: 0; background-color: #000; opacity: 0.8;}
.tmodal .info { width: 70%; background-color: white; border-radius: 4px; margin-left: auto; padding: 20px 10px 20px 10px; text-align: center; margin-right: auto; margin-top: 25%;}

/*弹出框*/
.tmodal .info button {display: block;}
.tmodal .info textarea{width: 94%; height: 100px; padding-left: 6px;padding-right: 6px; border-radius: 8px; border: 1px #ccc solid; color: #000}
.tmodal .info a {display: block; background-color:#58BD91; height: 36px; line-height: 36px; padding-left: 40px; padding-right: 40px; color: #fff; margin-top: 30px; border-radius:4px; }
.tmodal .info a:hover {background-color: #307268}
.modalshow {visibility:visible}
.modalhide {visibility: hidden}
.tipshow {visibility:visible}
.tiphide {visibility:hidden}


/**nav**/
.nav {position: fixed;bottom: 0;height: 60px;width: 100%;background-color: #ccc; }
.nav .elem { font-size: 16px; color: red; line-height: 60px; margin-left: 10px;margin-right: 10px;}

/**borrow**/
.borrowpart {margin-top: 20px; background-color:#fff; padding-left: 20px; padding-top: 6px;font-size: 14px; height: 100%}
.borrowpart ul li{ height: 40px;  border-bottom: 1px solid #DDDDDD; padding-top: 10px;}
.borrowpart ul li:last-child{ border-bottom:0}
.borrowpart ul li .gr{display: inline-block; color:#9B9B9B; margin-right: 8px;}
.borrowpart ul li .score{color:#58BD91;}
.borrowpart ul li .down img{width:12px;}
.borrowpart ul li select { text-align: center; }
.borrowpart ul li .map { text-align: right; float: right; display: block; margin-right: 28px;}
/**center***/
.center { height: 160px; width: 100%; background: url('../images/bg-header-line.png') repeat-x;}
.center .center-header-top {height: 70%;}
.center .center-header-bottom {height: 30%; text-align: center;}
.center .center-header-top img { margin-left: auto; margin-right: auto;text-align: center; width: 60px;height: auto; display: block;padding-top: 30px;}
.center-body{ background-color: #fff; padding-top: 20px; margin-top: 15px;}
.center-body .center-item{ height: 50px; font-size: 14px;}
.center-body .center-item .category{ height: 49px; line-height: 49px; }
.center-body .center-item .category span { margin-left: 8%;}
.center-body .center-item .category div { float: right; margin-right: 20px;}
.center-body .center-item .one-line { height: 1px;width: 95%; background-color: #EFEFEF; margin-left: 5%;}

/*position*/
.posi{ width: 100%; height:100px; background-color: #fff; margin-bottom: 8px;}
.posi .spot{ height: 50%;  text-align: center; font-size: 18px; padding-top: 20px;}
.posi .spot img{ width: 14px; height: 18px;}
.posi .spot span{ margin-left: 5px; margin-top: 5px;}
.posi .search-box {text-align: center;padding-top: 5px;}
.posi .search-box input {width: 90%;height: 32px; border: 1px #BFBFBF solid;border-radius:4px;  text-align:center;}

/*user base infomation*/
.userinfo {background-color: #fff; margin-top: 30px; font-size: 14px;}
.userinfo .head{ width:100%; height: 70px;}
.userinfo .head .info{ height: 69px; padding-top: 15px; line-height: 40px;}
.userinfo .head .info span{display: block; float: left; color: #9B9B9B; width: 20%; margin-left: 30px;}
.userinfo .head .info img{ float:left; height: 40px;}
.userinfo .head .line{ height: 1px; background-color: #DDDDDD;width: 95%; margin-left: 5%;}

.userinfo .item {height:48px; width: 100%;}
.userinfo .item .cons{ height:47px; padding-top: 15px; line-height: 30px; }
.userinfo .item .cons span{display: block; float: left;color: #9B9B9B; width: 20%; margin-left: 30px; }
.userinfo .item .cons input{display: block; float: left; border: 0px;}
.userinfo .item .line{ height: 1px; background-color: #DDDDDD;width: 95%; margin-left: 5%;}
.userinfo .catogary { height: 120px; overflow: hidden;}
.userinfo .catogary .cons { display: block; color: #9B9B9B; float:left; width: 30%; height: 120px; padding-left: 30px;padding-top: 15px;}
.userinfo .catogary .types { float:right;width: 70%; padding-top: 15px; line-height: 26px;}
.userinfo .catogary .types a {display: block; float:left; font-size: 12px; height: 26px; margin-right: 10px; border: 1px solid #DDDDDD; border-radius: 4px; padding-left: 8px;padding-right: 8px; color: #9B9B9B; margin-bottom: 15px;}
.userinfo .catogary .types a.choosed {background-color: #58BC90}

/**map*********************/
.map {background-color: #fff;}
.map .map-head{ height: 40px; line-height: 40px; background-color: #58BD91; text-align: center; color: #000}
.map .map-body {height: 280px; width: 100%; position: relative; }
.map .map-cons {position: relative;}
.map .map-cons .searchbox{position: fixed; top: 45px;  width: 100%;}
.map .map-cons .searchbox input {display: block;margin-left: auto;margin-right: auto; width: 80%;  border: 1px solid #58BD91;height: 32px;}
.map .map-detail{width: 100%; background-color: #eee;}

/**Address*************/
.address {}
.address .head { height: 60px; background-color: #FFF; border-bottom: 1px #DDDDDD solid; color: #58BD91; line-height: 60px; text-align: center;}

.address .detail{ font-size: 14px; background-color: #FFF;padding-top: 15px;padding-bottom: 25px;}
.address .detail ul{ padding-left: 20px;}
.address .detail ul li{height: 45px; border-bottom: 1px #DDDDDD solid;line-height: 45px;}
.address .detail ul li input{ width: 200px;}
.address .detail ul li img{display:inline-block; float: right; width:8px;    margin-top: 13px;margin-right: 16px;}
.address .detail .title {color: #9B9B9B; width: 80px; display: inline-block;}
.address .list { margin-top:20px; padding:20 0 10 0;}
.address .list .onelist{ background-color: #FFF; height:145px;margin-bottom: 10px; padding:20px 10px 20px 10px;}
.address .list .onelist .address {display: block; margin-bottom: 6px;}
.address .list .onelist .name {color:#9B9B9B; }
.address .list .onelist .info {padding-left: 15px;}
.address .list .onelist .func {margin-top: 15px; padding-left: 20px;}
.address .list .onelist .func img {width: 14px;}
.address .list .onelist .func span {color:#9B9B9B; display: inline-block; margin-right: 20px;}
.address .list .onelist .func a {color:#FFF; padding: 6px 15px 6px 15px; background-color: #58BD91; border-radius: 4px; margin-left: 10px;}
.address .list .onelist .func a:active{background-color:#307268 }

.address-choose{position: fixed; top:0; left: 0; height: 100%; width: 100%; background-color: #efefef;}
.address-choose .searchBar {margin-top: 5px;background-color: #FFF; width: 100%; padding-top: 15px;padding-bottom: 10px;text-align: center;}
.address-choose .searchBar input{ border: 1px solid #DDD; height: 25px; width: 250px; border-radius: 4px;}
.address-choose .searchBar button{margin-left: 5px; border: 1px solid #DDD; height: 25px;  border-radius: 4px; padding: 5px 10px 5px 10px;}
.address-choose .list-item{margin-top: 10px; background-color: #FFF; padding-left: 20px; padding-bottom: 20px; padding-top: 10px;}
.address-choose .list-item ul li {height: 60px; line-height:25px; border-bottom:1px solid #DDD; padding-top: 5px;}
.address-choose .list-item ul li .district{display: block; font-size: 14px; color: #DDD}
.address-choose .list-item ul li .address{display: block; font-size: 16px;}
.address-choose-visible {visibility: visible}
.address-choose-hide {visibility: hidden}

/* earnpoints */
.earnpoints{background-color: #f0f0f0;}
.earnpoints .title{height: 160px; background:url('../images/bg-header-line.png') repeat-x;}
.earnpoints .title a{color:#fff; background:url('../images/icon-question2.png'); background-repeat: no-repeat; background-size: 14px 14px; background-position: left center; padding-left:16px; font-size: 14px; float: right; margin-top:16px; margin-right: 28px;}
.earnpoints .title .mypoints{width: 100px; height: 100px; border-radius: 50%; border: 1px solid #ccc; margin:auto; text-align: center; line-height: 100px; position: relative; top:24px; color: #fff;}
.tsw-title{ height: 48px; background-color: #f0f0f0; line-height: 56px; padding:0 32px; font-weight: 400;}
.navlist{ background-color: #fff; padding-top: 8px;}
.navlist dl{ overflow: hidden; height: 48px; line-height: 48px; margin-bottom: 0; padding:0 16px;}
.navlist dl dt{float:left; font-weight: normal; line-height: 48px; margin-left: 16px;}
.navlist dl dd{ float: right;margin-top: 8px;}
.navlist ul li{ height: 48px; line-height: 48px; }
.navlist ul li:hover,.navlist ul li:focus{ background-color: #f0f0f0;}
.navlist ul li a{ display: block; border-top: 1px solid #efefef; margin-left: 16px; padding-left: 16px; color:#3C3C3C; text-decoration: none; background:url('../images/icon-array-left.png'); background-repeat: no-repeat; background-size: 6px 12px; background-position: 95% center;}
.navlist .points{ padding-left: 6px; color:#58BD91;}
.navlist .pointbtn{ display: block; padding:6px 16px; border-radius: 4px; background-color: #58BD91; float: right; color:#fff;}
.navlist .pointbtn:hover,.navlist .pointbtn:focus{background-color: #307268}
.tsw-pt-8{ padding-top: 8px;}
.tsw-pb-8{ padding-bottom: 8px;}
.navlist .tsw-nboder-top{ border-top: none;}

/* borrowlist */
.borrowlist{ position: relative; padding:16px; background-color: #fff; margin-bottom: 8px;}
/*.borrowlistbox li:last-child div{ margin-bottom: 24px;}*/

.borrowlist span.tag{ display: inline-block; width:70px; height: 32px; line-height: 32px; text-align: center; color: #fff; position: absolute; left:0; top:16px; z-index: 0; font-size: 12px;}
.borrowlist dl{ overflow: hidden;}
.borrowlist dl dt{ float: left; width:104px; height: 138px; margin-left: 10px;}
.borrowlist dl dt img{ display: block; width:104px; height: 100%;}
.borrowlist dl dd{ float: right; width:60%; font-size: 14px; color:#9b9b9b;}
.borrowlist dl dd button{ border:none; padding:8px 24px; margin: 0 6px; border-radius: 4px; color:#fff;}
.borrowlist dl dd .bookname{ font-size: 20px; font-weight: 100; color:#3c3c3c; margin:0; margin-bottom: 8px; padding-top: 6px;}
.borrowlist dl dd p{ margin: 0; padding: 0; line-height: 24px;}
.borrowlist dl dd .btngroup{ margin-top: 16px;}
.borrowlist dl dd .btngroup .middlebtn{ width:90%; height:42px; background-color: #58BD91; font-size: 18px; font-weight: normal;}
.borrowlist dl dd .btngroup .middlebtn:hover,.borrowlist dl dd .btngroup .middlebtn:focus{ background-color:#307268; }

.borrowlist dl dd .leftbtn{ background-color: #9B9B9B;}
.borrowlist dl dd .leftbtn:hover,.borrowlist dl dd .leftbtn:focus{ background-color:#307268; }
.borrowlist dl dd .rightbtn{ background-color: #58BD91; float: right;}
.borrowlist dl dd .rightbtn:hover,.borrowlist dl dd .rightbtn:focus{ background-color:#307268; }



/* DesireList */
.borrowlist .booktag{padding:3px 10px; border-radius: 50px; background-color: #58BD91; color:#fff; font-size: 12px; margin-right: 2px;}
.location{ margin-top: 12px; color:#3c3c3c;}
.location span{ background:url('../images/map-pos.png'); background-repeat: no-repeat; background-size: 10px 12px; background-position: left center; padding-left: 16px;}
.nobook{ color:#3c3c3c; padding-left: 16px; margin-top: 8px; background:url('../images/nobook_cry.png'); background-repeat: no-repeat; background-size: 14px 14px; background-position: left center;}


/* loanlist */
.borrowlist dl dd p.loan{ width:67px; height: 22px; color:#fff; padding-left: 10px;font-size: 12px; line-height: 22px; margin-top: 8px;background:url('../images/loan_bg.png'); background-repeat: no-repeat; background-size: 67px 22px; background-position: center center; }
.borrowlist dl dd .loand{ display: block; font-size: 14px; color:#58BD91; margin-top: 8px;}
/*********************
手机适配/iphone5s
**********************/
@media only screen and (max-width:320px){
  .borrowlist dl dd .bookname{ font-size: 18px;}
  .borrowlist dl dd button{ padding:8px 20px;}
  .borrowlist dl dt{ margin-left: 5px;}

}
